nav.menuBar {
    display: flex;
    .search {
        display: flex;
        align-items: center;
    }
}

nav.menuBar > div {
    padding-top: 10px;
}

.menuCon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}